<!DOCTYPE html>
<html>
<head>
<!-- Bootstrap core CSS -->
<link href="../static/css/bootstrap.min.css" rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top"
		th:fragment="header">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Voice Resource Management</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li th:classappend="${module == 'home' ? 'active' : ''}"><a
						href="#" th:href="@{/main}">Home</a></li>
					<li th:classappend="${module == 'softswitch' ? 'active' : ''}"><a
						href="#" th:href="@{/task}">softswitch</a></li>
					<li th:classappend="${module == 'test' ? 'active' : ''}"><a
						href="#" th:href="@{/user}">test</a></li>
				</ul>

			</div>
		</div>
	</div>
</body>
</html>