<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Bootstrap core CSS -->
<link href="../static/css/bootstrap.min.css" rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}" type="text/css"/>
	<link href="../static/css/main.css" rel="stylesheet"
	th:href="@{/css/main.css}" type="text/css"/>

</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Voice Resource Manager</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#">Softswitch</a></li>
					<li><a href="#">SessionManager</a></li>
					<li><a href="#">Resource</a></li>
					<li><a href="#">Service</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>

	<div class="container">

		<div class="text-center" id="centerbox">
			<h1>
			Bootstrap starter template</h1>
			<p class="lead">
				Use this document as a way to quickly start any new project.<br>
				All you get is this text and a mostly barebones HTML document.
			</p>
			<form th:action="@{/querySoftswitches}" th:object="${softswitch}"
				method="post">
				<fieldset>
					<legend>Softswitch Data</legend>
					Switch ID:<br> <input type="text" th:field="*{switchId}" /><br>
					Switch Name:<br> <input type="text" th:field="*{name}" /><br>
					<input type="submit" value="Submit" /> <input type="reset"
						value="Reset" />
				</fieldset>
			</form>
		</div>

	</div>
	<!-- /.container -->

	<div class="container" id="resulttable">
		<div th:if="${not #lists.isEmpty(softswitches)}">
			<h2>Softswitches</h2>
			<table class="table table-striped">
				<tr>
					<th>oid</th>
					<th>switchId</th>
					<th>Name</th>
				</tr>
				<tr th:each="softswitch : ${softswitches}">
					<td th:text="${softswitch.getOid()}"></td>
					<td th:text="${softswitch.getSwitchId()}"></td>
					<td th:text="${softswitch.getName()}"></td>
			</table>
		</div>
	</div>

</body>
</html>